/*
  ===========================
  leaderboard partial
  ===========================
  20/Dec

  styling for leaderboards
*/

.pl-leaderboard {
  margin-top: 1em;
}
.pl-leaderboard, .pl-leaderboard * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.pl-leaderboard .leaderboard-item {
  margin: 0.12rem 0;
  background-color: white;
}
.pl-leaderboard .leaderboard-item-content {
  position: relative;
  overflow: hidden;
  height: 2.81rem;
}
.pl-leaderboard .leaderboard-column {
  display: inline-block;
  vertical-align: middle;
  height: 2.50rem;
  line-height: 2.37rem;
}
.pl-leaderboard .markers {
  width: 3.44rem;
  margin-right: 0.31rem;
  text-align: right;
  font-size: 1.12rem;
  font-style: italic;
}
.pl-leaderboard .markers .ldr-mark {
  font-style: normal;
  font-size: 1.38rem;
  margin-right: 0.5px;
  font-family: "Lyfeicons";
}
.pl-leaderboard .markers .mark-leader:before {
  content: '\E048';
  color: #ffcc00;
}
.pl-leaderboard .markers .mark-primary:before {
  content: '\E041';
  color: #e20000;
}
.pl-leaderboard .markers .mark-self:before {
  content: '\E015';
  color: #8fc717;
}
.pl-leaderboard .ldr-name {
  width: calc(100% - 315px);
  padding: 0 0.62rem 0 1.25rem;
  border-width: 1px 2px;
  border-style: solid;
  border-color: #eeeeee rgba(51, 51, 51, 0.1) #dddddd;
  background-color: #fbfbfb;
  text-shadow: 0 0 3px white;
}
.pl-leaderboard .ldr-score {
  width: 11.56rem;
  margin-left: -0.12rem;
  color: black;
  font-size: 0.94rem;
  text-align: right;
  padding: 0 1.25rem 0 0.62rem;
  border-left: 2px solid rgba(51, 51, 51, 0.1);
  text-shadow: 1px 1px 2px rgba(238, 238, 238, 0.5);
}
.pl-leaderboard .ldr-avatar {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  width: 3.44rem;
  padding: 0 0.31rem;
  background-color: white;
}
.pl-leaderboard .ldr-avatar img,
.pl-leaderboard .ldr-avatar .item-art {
  width: 2.50rem;
  height: 2.50rem;
}
.pl-leaderboard .ldr-avatar i {
  font-size: 2.50rem;
  color: #999999;
}
.pl-leaderboard .leader .ldr-name {
  font-weight: bold;
  border-left: 3px solid #8fc717;
}
.pl-leaderboard .trailer .ldr-name {
  border-left: 3px solid #ff9696;
}
.pl-leaderboard .skew {
  -webkit-transform: skewX(-20deg);
  -moz-transform: skewX(-20deg);
  -ms-transform: skewX(-20deg);
  transform: skewX(-20deg);
}
.pl-leaderboard .skew.reverse {
  -webkit-transform: skewX(20deg);
  -moz-transform: skewX(20deg);
  -ms-transform: skewX(20deg);
  transform: skewX(20deg);
}
