/** PALETTE
 *
 * Grays
 * #ffffff; /* white *
 * #f8f8f8; /* gray-ultralight *
 * #dddddd; /* gray-lightest *
 * #bbbbbb; /* gray-lighter *
 * #aaaaaa; /* gray-light *
 * #888888; /* gray *
 * #666666; /* gray-dark *
 * #444444; /* gray-darker *
 * #222222; /* gray-darkest *
 * #000000; /* black *
 *
 * #eef6dc; /* prime-lightest *
 * #ddeeb9; /* prime-lighter *
 * #a9d44d; /* prime-light *
 * #8fc717; /* prime *
 * #80b314; /* prime-dark *
 * #648b10; /* prime-darker *
 * #364c08; /* prime-darkest *
 *
 * #f1f9ff; /* accent-lightest *
 * #a5d6ff; /* accent-lighter *
 * #58b4ff; /* accent-light *
 * #259dff; /* accent *
 * #0085f1; /* accent-dark *
 * #004d8b; /* accent-darker *
 * #001425; /* accent-darkest *
 *
 * #e20000; /* alert *
 * #ffe2e2; /* alert-light *
 *
 * #95d905; /* $green *
 * #1b5ddf; /* $blue *
 * #259dff; /* $sky *
 * #023c7c; /* $navy *
 * #8100ad; /* $purple *
 * #e20000; /* $red *
 * #e85e07; /* $orange *
 * #da9100; /* $gold *
 * #ffcc00; /* $yellow *
**/


/*
 Go to Admin->Appearance->Theme Settings and set Theme Designer Mode True to prevent caching of theme
 */
.scr-hl {
  border: 2px solid red;
  box-shadow: 0 4px 6px -4px #666666;
}

/**
// icons partial
// Aegis UI (derived from Playlyfe Sandbox)
// Kumar Harsh
// 26.May.2013
*/

@font-face {
  font-family: 'Lyfeicons';
  src: url('/theme/playlyfe/fonts/Lyfeicons.eot');
  src: local('Lyfeicons'), local('lyfeiconsregular'),
       url('/theme/playlyfe/fonts/Lyfeicons.eot?#iefix') format('embedded-opentype'),
       url('/theme/playlyfe/fonts/Lyfeicons.woff') format('woff'),
       url('/theme/playlyfe/fonts/Lyfeicons.ttf') format('truetype'),
       url('/theme/playlyfe/fonts/Lyfeicons.svg#lyfeiconsregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
  font-family: 'Lyfeicons';
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  display: inline;
  margin-right: 0.4em;
}
[class^="icon-"]:before,
[class*=" icon-"]:before {
  text-decoration: inherit;
  display: inline-block;
  speak: none;
}

a [class^="icon-"],
a [class*=" icon-"],
a [class^="icon-"]:before,
a [class*=" icon-"]:before {
  display: inline;
}

/* makes the font 33% larger relative to the icon container */
.icon-big:before {
  vertical-align: -10%;
  font-size: 1.5em;
}
.icon-2x { font-size: 2em; line-height: 1em; }
.icon-3x { font-size: 3em; line-height: 1em; }
.icon-4x { font-size: 4em; line-height: 1em; }

.icon-plus:before                     { content: '\E000'; }
.icon-minus:before                    { content: '\E001'; }
.icon-cross:before                    { content: '\E002'; }
.icon-tick:before                     { content: '\E003'; }
.icon-edit:before                     { content: '\E004'; }
.icon-hamburger:before                { content: '\E005'; }
.icon-cog:before                      { content: '\E006'; }
.icon-cog-double:before               { content: '\E007'; }
.icon-eye:before                      { content: '\E008'; }
.icon-retry:before                    { content: '\E009'; }
.icon-hdots:before                    { content: '\E00A'; }
.icon-vdots:before                    { content: '\E00B'; }
.icon-cloud:before                    { content: '\E00C'; }
.icon-approval:before,
.icon-certificate:before              { content: '\E00D'; }
.icon-trash:before                    { content: '\E00E'; }
.icon-copy:before                     { content: '\E00F'; }
.icon-exit:before                     { content: '\E010'; }
.icon-loop:before                     { content: '\E011'; }
.icon-refresh:before                  { content: '\E012'; }
.icon-feed:before                     { content: '\E013'; }
.icon-left:before                     { content: '\E014'; }
.icon-right:before                    { content: '\E015'; }
.icon-up:before                       { content: '\E016'; }
.icon-down:before                     { content: '\E017'; }
.icon-double-right:before             { content: '\E018'; }
.icon-double-left:before              { content: '\E019'; }
.icon-arrow-left:before               { content: '\E01A'; }
.icon-arrow-right:before              { content: '\E01B'; }
.icon-arrow-up:before                 { content: '\E01C'; }
.icon-arrow-down:before               { content: '\E01D'; }
.icon-castle:before                   { content: '\E01E'; }
.icon-triskelion-light:before         { content: '\E01F'; }
.icon-triskelion-dark:before          { content: '\E020'; }
.icon-trophy:before                   { content: '\E021'; }
.icon-point:before                    { content: '\E022'; }
.icon-set:before                      { content: '\E023'; }
.icon-state:before                    { content: '\E024'; }
.icon-badge:before                    { content: '\E025'; }
.icon-rank:before                     { content: '\E026'; }
.icon-metric:before                   { content: '\E027'; }
.icon-round-plus:before               { content: '\E028'; }
.icon-round-plus-fill:before          { content: '\E029'; }
.icon-round-minus:before              { content: '\E02A'; }
.icon-round-minus-fill:before         { content: '\E02B'; }
.icon-round-cross:before              { content: '\E02C'; }
.icon-round-cross-fill:before         { content: '\E02D'; }
.icon-help:before,
.icon-round-question:before           { content: '\E02E'; }
.icon-round-question-fill:before      { content: '\E02F'; }
.icon-round-exclaimation:before       { content: '\E030'; }
.icon-round-exclaimation-fill:before  { content: '\E031'; }
.icon-warning:before                  { content: '\E032'; }
.icon-warning-fill:before             { content: '\E033'; }
.icon-round-asterisk:before           { content: '\E034'; }
.icon-new:before,
.icon-round-asterisk-fill:before      { content: '\E035'; }
.icon-round-tick:before               { content: '\E036'; }
.icon-round-tick-fill:before          { content: '\E037'; }
.icon-round-info:before               { content: '\E038'; }
.icon-round-info-fill:before          { content: '\E039'; }
.icon-round-disable:before            { content: '\E03A'; }
.icon-round-disable-fill:before       { content: '\E03B'; }
.icon-power-off:before                { content: '\E03C'; }
.icon-target:before                   { content: '\E03D'; }
.icon-star-fill:before                { content: '\E03E'; }
.icon-star:before                     { content: '\E03F'; }
.icon-heart-fill:before               { content: '\E040'; }
.icon-heart:before                    { content: '\E041'; }
.icon-flag-fill:before                { content: '\E042'; }
.icon-flag:before                     { content: '\E043'; }
.icon-circle:before                   { content: '\E044'; }
.icon-circle-fill:before              { content: '\E045'; }
.icon-circle-fill-right:before        { content: '\E046'; }
.icon-circle-fill-left:before         { content: '\E047'; }
.icon-crown:before                    { content: '\E048'; }
.icon-leaderboard:before              { content: '\E049'; }
.icon-grid:before                     { content: '\E04A'; }
.icon-list:before                     { content: '\E04B'; }
.icon-filter:before                   { content: '\E04C'; }
.icon-conversation:before             { content: '\E04D'; }
.icon-message:before                  { content: '\E04E'; }
.icon-dice:before                     { content: '\E04F'; }
.icon-public:before,
.icon-world:before                    { content: '\E050'; }
.icon-private:before,
.icon-lock:before                     { content: '\E051'; }
.icon-unlock:before                   { content: '\E052'; }
.icon-protected:before,
.icon-key:before                      { content: '\E053'; }
.icon-bell:before                     { content: '\E054'; }
.icon-checklist:before                { content: '\E055'; }
.icon-user:before                     { content: '\E056'; }
.icon-calendar:before                 { content: '\E057'; }
.icon-search:before                   { content: '\E058'; }
.icon-settings:before                 { content: '\E059'; }
.icon-play:before                     { content: '\E05A'; }
.icon-contract:before                 { content: '\E05B'; }
.icon-expand:before                   { content: '\E05C'; }
.icon-expand-double:before            { content: '\E05D'; }
.icon-contract-double:before          { content: '\E05E'; }
.icon-compass:before                  { content: '\E05F'; }
.icon-tracker:before                  { content: '\E060'; }
.icon-undo:before,
.icon-reset:before,
.icon-back:before                     { content: '\E061'; }
.icon-redo:before,
.icon-forward:before                  { content: '\E062'; }
.icon-user-plus:before                { content: '\E063'; }
.icon-user-minus:before               { content: '\E064'; }
.icon-team:before                     { content: '\E065'; }
.icon-user-cross:before               { content: '\E066'; }
.icon-user-disable:before             { content: '\E067'; }
.icon-user-key:before                 { content: '\E068'; }
.icon-wand:before                     { content: '\E069'; }
.icon-node:before                     { content: '\E06A'; }
.icon-sub_process:before,
.icon-process:before                  { content: '\E06B'; }
.icon-node-plus:before                { content: '\E06C'; }
.icon-node-cross:before               { content: '\E06D'; }
.icon-node-minus:before               { content: '\E06E'; }
.icon-task:before                     { content: '\E06F'; }
.icon-gateway-exclusive:before        { content: '\E070'; }
.icon-gateway-parallel:before         { content: '\E071'; }
.icon-link:before                     { content: '\E072'; }
.icon-unlink:before                   { content: '\E073'; }
.icon-rules:before                    { content: '\E074'; }
.icon-sandbox:before                  { content: '\E075'; }
.icon-design:before                   { content: '\E076'; }
.icon-code:before                     { content: '\E077'; }
.icon-token:before                    { content: '\E078'; }
.icon-lane:before                     { content: '\E079'; }
.icon-role:before                     { content: '\E07A'; }
.icon-launch:before,
.icon-shuttle:before                  { content: '\E07B'; }
.icon-simulate:before,
.icon-shuttle-loop:before             { content: '\E07C'; }
.icon-paper-plane:before              { content: '\E07D'; }
.icon-mobile:before                   { content: '\E07E'; }
.icon-tablet:before                   { content: '\E07F'; }
.icon-laptop:before                   { content: '\E080'; }
.icon-tv:before                       { content: '\E081'; }
.icon-download:before                 { content: '\E082'; }
.icon-upload:before                   { content: '\E083'; }
.icon-object:before                   { content: '\E084'; }
.icon-object-plus:before              { content: '\E085'; }
.icon-game:before                     { content: '\E086'; }
.icon-game-upgrade:before             { content: '\E087'; }
.icon-pie:before                      { content: '\E088'; }
.icon-bars:before                     { content: '\E089'; }
.icon-dashboard:before                { content: '\E08A'; }
.icon-tag:before                      { content: '\E08B'; }
.icon-braces:before                   { content: '\E08C'; }
.icon-prompt:before                   { content: '\E08D'; }
.icon-invite:before,
.icon-mail:before                     { content: '\E08E'; }
.icon-file:before                     { content: '\E08F'; }
.icon-activity:before,
.icon-hourglass:before                { content: '\E090'; }
.icon-round-hourglass:before          { content: '\E091'; }
.icon-price:before,
.icon-round-dollar:before             { content: '\E092'; }
.icon-clock:before                    { content: '\E093'; }
.icon-wrench:before                   { content: '\E094'; }
.icon-hammer:before                   { content: '\E095'; }
.icon-tools:before                    { content: '\E096'; }
.icon-face-happy:before               { content: '\E097'; }
.icon-face-sad:before                 { content: '\E098'; }
.icon-face-dead:before                { content: '\E099'; }
.icon-book:before                     { content: '\E09A'; }
.icon-bookmark:before                 { content: '\E09B'; }
.icon-camera:before                   { content: '\E09C'; }
.icon-sum:before                      { content: '\E09D'; }
.icon-blackboard:before               { content: '\E09E'; }
.icon-bag:before                      { content: '\E09F'; }
.icon-marker:before                   { content: '\E0A0'; }
.icon-pin-small:before                { content: '\E0A1'; }
.icon-pin-big:before                  { content: '\E0A2'; }
.icon-pin-disable:before,
.icon-unpin:before                    { content: '\E0A3'; }
.icon-shine:before                    { content: '\E0A4'; }
.icon-pl:before                       { content: '\E0A5'; }
.icon-playlyfe:before                 { content: '\E0A6'; }


.as-button {
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-decoration: none !important;
  outline: none;
  cursor: pointer;
}

/* Utility Classes */
.hl-prime { color: #8fc717; /* prime */ }
.hl-info { color: #259dff; /* accent */ }
.hl-alert { color: #e20000; /* alert */ }
.hl-purple { color: #8100ad; /* $purple */; }
.hl-orange { color: #e85e07; /* $orange */; }
.hl-yellow { color: #ffcc00; /* $yellow */; }

.text-center { text-align: center; }
.full-width { width: 100%; }
.full-height { height: 100%; }
.no-margin, .no-space, .ui-helper-reset {
  margin: 0px !important;
}
.no-padding, .no-space {
  padding: 0px !important;
}
.list-unstyled {
  margin: 0;
  padding: 0;
  list-style: outside none none;
}
.underline {
  text-decoration: underline;
}
.clearfix::before, .clearfix::after {
  display: table;
  line-height: 0;
  content: "";
}
.clearfix::after {
  clear: both;
}


/**
//
// Variable Grid System (Fluid Version).
// Learn more ~ http://www.spry-soft.com/grids/
// Based on 960 Grid System - http://960.gs/ & 960 Fluid - http://www.designinfluences.com/
// Licensed under GPL and MIT.
//
*/
.grid-12 {
  width: 92%;
  margin-left: 4%;
  margin-right: 4%;
}
.grid-12.full-width {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}

.col-1,  .col-2,  .col-3,  .col-4,
.col-5,  .col-6,  .col-7,  .col-8,
.col-9,  .col-10, .col-11, .col-12,
.col-13, .col-14, .col-15, .col-16 {
  display: inline;
  position: relative;
  float: left;
  margin-left: 1%;
  margin-right: 1%;
}

.grid-12 .col-3 { width: 23%; }
.grid-12 .col-6 { width: 48%; }
.grid-12 .col-9 { width: 73%; }
.grid-12 .col-12 { width: 98%; }

.alpha { margin-left: 0; }
.omega { margin-right: 0; }

.grid-12 .col-1  { width: 6.333%; }
.grid-12 .col-2  { width: 14.666%; }
.grid-12 .col-4  { width: 31.333%; }
.grid-12 .col-5  { width: 39.666%; }
.grid-12 .col-7  { width: 56.333%; }
.grid-12 .col-8  { width: 64.666%; }
.grid-12 .col-10 { width: 81.333%; }
.grid-12 .col-11 { width: 89.666%; }


.grid-12 .pfx-3 { padding-left: 25%; }
.grid-12 .pfx-6 { padding-left: 50%; }
.grid-12 .pfx-9 { padding-left: 75%; }

.grid-12 .pfx-1  { padding-left: 8.333%; }
.grid-12 .pfx-2  { padding-left: 16.666%; }
.grid-12 .pfx-4  { padding-left: 33.333%; }
.grid-12 .pfx-5  { padding-left: 41.666%; }
.grid-12 .pfx-7  { padding-left: 58.333%; }
.grid-12 .pfx-8  { padding-left: 66.666%; }
.grid-12 .pfx-10 { padding-left: 83.333%; }
.grid-12 .pfx-11 { padding-left: 91.666%; }


.grid-12 .sfx-3 { padding-right: 25%; }
.grid-12 .sfx-6 { padding-right: 50%; }
.grid-12 .sfx-9 { padding-right: 75%; }

.grid-12 .sfx-1 { padding-right: 8.333%; }
.grid-12 .sfx-2 { padding-right: 16.666%; }
.grid-12 .sfx-4 { padding-right: 33.333%; }
.grid-12 .sfx-5 { padding-right: 41.666%; }
.grid-12 .sfx-7 { padding-right: 58.333%; }
.grid-12 .sfx-8 { padding-right: 66.666%; }
.grid-12 .sfx-10 { padding-right: 83.333%; }
.grid-12 .sfx-11 { padding-right: 91.666%; }

.grid-12 .push-1  { left:8.333%;  }
.grid-12 .push-2  { left:16.667%; }
.grid-12 .push-3  { left:25.0%;   }
.grid-12 .push-4  { left:33.333%; }
.grid-12 .push-5  { left:41.667%; }
.grid-12 .push-6  { left:50.0%;   }
.grid-12 .push-7  { left:58.333%; }
.grid-12 .push-8  { left:66.667%; }
.grid-12 .push-9  { left:75.0%;   }
.grid-12 .push-10 { left:83.333%; }
.grid-12 .push-11 { left:91.667%; }

.grid-12 .pull-1  { left:-8.333%;  }
.grid-12 .pull-2  { left:-16.667%; }
.grid-12 .pull-3  { left:-25.0%;   }
.grid-12 .pull-4  { left:-33.333%; }
.grid-12 .pull-5  { left:-41.667%; }
.grid-12 .pull-6  { left:-50.0%;   }
.grid-12 .pull-7  { left:-58.333%; }
.grid-12 .pull-8  { left:-66.667%; }
.grid-12 .pull-9  { left:-75.0%;   }
.grid-12 .pull-10 { left:-83.333%; }
.grid-12 .pull-11 { left:-91.667%; }


/* The media object
   (OOCSS / stubbornella.com) */
.media {
  margin: 10px;
  overflow: hidden;
  zoom: 1;
}
.media .content {
  /* use overflow for clearing floats and
   creating new layout context */
  overflow: hidden;
  zoom: 1;
}
.media .image {
  /* you can float the image to either left or right */
  float: left;
  margin-right: 10px;
}
.media .image img {
  display: block;
}
.media .image.right {
  margin-right: 0;
  margin-left: 10px;
}

.avatar {
  position: relative;
  background-color: transparent;
  width: 40px;
  height: 40px;
}
.avatar.large {  /* Playlyfe's Large image size */
  width: 140px;
  height: 140px;
}
.avatar img {
  /* constrain the image dimensions to that of the parent block */
  max-width: 100%;
  max-height: 100%;
  /* vertically and horizontally center the content in the parent block */
  /* requires parent to have a non-static position and unfloated */
  position: absolute;
  top: 0; bottom: 0;
  left: 0; right: 0;
  margin: auto;
}

.placeholder-content {
  padding: 0.5rem;
  color: #bbbbbb; /* gray-lighter */
  border: 1px dashed #dddddd; /* gray-lightest */
}
.placeholder-content.primary {
  color: #80b314; /* prime-dark */
  border-color: #ddeeb9; /* prime-lighter */
}
.placeholder-content.info {
  color: #0085f1; /* accent-dark */
  border-color: #a5d6ff; /* accent-lighter */
}
.placeholder-content.alert {
  color: #e20000; /* alert */
  border-color: #ffe2e2; /* alert-light */
}

.quote {
  font-style: italic;
  color: #888888; /* gray */
  border-left: 0.3125em solid #f8f8f8; /* $gray-ultralight */
  padding: 0.5rem 1rem;
}
.quote.primary {
  color: #80b314; /* prime-dark */
  border-left-color: #ddeeb9; /* prime-lighter */
}
.quote.info {
  color: #0085f1; /* accent-dark */
  border-left-color: #a5d6ff; /* accent-lighter */
}
.quote.alert {
  color: #e20000; /* alert */
  border-left-color: #ffe2e2; /* alert-light */
}

/** Table Styles */
/* AEGIS UI */
.pl-table {
  border-collapse: collapse;
  margin: 2em 0;
  width: 100%;
}
/* cell sizes for table cells */
.pl-table .cell-1 { width: 10%; }
.pl-table .cell-2 { width: 20%; }
.pl-table .cell-3 { width: 30%; }
.pl-table .cell-4 { width: 40%; }
.pl-table .cell-5 { width: 50%; }
.pl-table .cell-6 { width: 60%; }
.pl-table .cell-7 { width: 70%; }
.pl-table .cell-8 { width: 80%; }
.pl-table .cell-9 { width: 90%; }
.pl-table .cell-10 { width: 100%; }
.pl-table thead { background-color: white; }
.pl-table th {
  color: #999999;
  font-size: 14px;
  border: 1px solid #dddddd;
  padding: 6px 8px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-align: left;
}
.pl-table tbody {
  background-color: white;
}
.pl-table td {
  vertical-align: top;
  padding: 4px 8px;
  border: 1px solid #dddddd;
}
.pl-table .constraint {
  max-width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.pl-table .list-unstyled > li,
.pl-table .form-errors > li,
.pl-table .field-errors > li {
  padding-bottom: 0em;
}
/* table types */
.pl-table tfoot {
  background-color: white;
}
.pl-table tfoot td {
  text-align: center;
}
.pl-table.condensed th,
.pl-table.condensed td {
  padding: 2px 4px;
}
.pl-table.expanded th,
.pl-table.expanded td {
  padding: 10.5px 21px;
}
.pl-table.listing > thead > tr > th {
  border: none;
  font-size: 16px;
}
.pl-table.listing > tbody > tr {
  border-bottom: 1px solid #dddddd;
}
.pl-table.listing > tbody > tr > td {
  border: none;
}
.pl-table.striped > tbody > tr:nth-child(2n+1) {
  background-color: #eeeeee;
}
.pl-table.highlight > tbody > tr:hover {
  background-color: #f1f9ff;
  color: #004d8b;
  border-bottom: 1px solid #259dff;
}
.pl-table.borderless th {
  font-size: 1.23077em;
}
.pl-table.borderless td,
.pl-table.borderless th {
  border: none;
}
.pl-table.fixed {
  table-layout: fixed;
}
.pl-table.shrunk {
  width: auto;
}
.pl-table table[class*='col-'] {
  display: table;
}


/* Progress Bar */
.progress-bar {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 0.5em;
  border: 1px solid #dddddd; /* gray-lightest */
  padding: 2px;
}
.progress-bar .progress-meter {
  overflow: hidden;
  position: relative;
  height: 10px;
  background-color: #dddddd; /* gray-lightest */
}
.progress-bar .progress-value {
  display:block;
  position: absolute;
  z-index: 1;
  left:0;
  top:0;
  height: 100%;
  background-color: #80b314; /* prime-dark */
  background-image: linear-gradient(
    135deg, transparent 30%, white 30%, white 60%, transparent 60%
  );
  background-size: 20px 10px;
  transition:
    width 0.4s cubic-bezier(0.60, -0.28, 0.74, 0.05),
    background-color 0.2s ease 0.2s;
}
.progress-bar.animated .progress-value {
  -webkit-animation: movingBg 1500ms linear infinite;
  -moz-animation: movingBg 1500ms linear infinite;
  -ms-animation: movingBg 1500ms linear infinite;
  animation: movingBg 1500ms linear infinite;
}






/** ANIMATION KEYFRAMES */
/** AEGIS UI */
@-webkit-keyframes movingBg {
  100% { background-position: -100px 0; }
}
@-moz-keyframes movingBg {
  100% { background-position: -100px 0; }
}
@-ms-keyframes movingBg {
  100% { background-position: -100px 0; }
}
@keyframes movingBg {
  100% { background-position: -100px 0; }
}
