/** PALETTE
 *
 * Grays
 * #ffffff; /* white *
 * #f8f8f8; /* gray-ultralight *
 * #dddddd; /* gray-lightest *
 * #bbbbbb; /* gray-lighter *
 * #aaaaaa; /* gray-light *
 * #888888; /* gray *
 * #666666; /* gray-dark *
 * #444444; /* gray-darker *
 * #222222; /* gray-darkest *
 * #000000; /* black *
 *
 * #eef6dc; /* prime-lightest *
 * #ddeeb9; /* prime-lighter *
 * #a9d44d; /* prime-light *
 * #8fc717; /* prime *
 * #80b314; /* prime-dark *
 * #648b10; /* prime-darker *
 * #364c08; /* prime-darkest *
 *
 * #f1f9ff; /* accent-lightest *
 * #a5d6ff; /* accent-lighter *
 * #58b4ff; /* accent-light *
 * #259dff; /* accent *
 * #0085f1; /* accent-dark *
 * #004d8b; /* accent-darker *
 * #001425; /* accent-darkest *
 *
 * #e20000; /* alert *
 * #ffe2e2; /* alert-light *
**/

.text-center {
  text-align: center;
}
.full-width {
  width: 100%;
}
.full-height {
  height: 100%;
}
.no-margin, .no-space, .ui-helper-reset {
  margin: 0px !important;
}
.no-padding, .no-space {
  padding: 0px !important;
}
.list-unstyled {
  margin: 0;
  padding: 0;
  list-style: outside none none;
}
.remove-button {
  float: right;
  padding-left: 25px;
}
.underline {
  text-decoration: underline;
}
.clearfix::before, .clearfix::after {
  display: table;
  line-height: 0;
  content: "";
}
.clearfix::after {
  clear: both;
}

/**
//
// Variable Grid System (Fluid Version).
// Learn more ~ http://www.spry-soft.com/grids/
// Based on 960 Grid System - http://960.gs/ & 960 Fluid - http://www.designinfluences.com/
// Licensed under GPL and MIT.
//
*/
.grid-12 {
  width: 92%;
  margin-left: 4%;
  margin-right: 4%;
}
.grid-12.full-width {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}

.col-1,  .col-2,  .col-3,  .col-4,
.col-5,  .col-6,  .col-7,  .col-8,
.col-9,  .col-10, .col-11, .col-12,
.col-13, .col-14, .col-15, .col-16 {
  display: inline;
  position: relative;
  float: left;
  margin-left: 1%;
  margin-right: 1%;
}

.grid-12 .col-3 { width: 23%; }
.grid-12 .col-6 { width: 48%; }
.grid-12 .col-9 { width: 73%; }
.grid-12 .col-12 { width: 98%; }

.alpha { margin-left: 0; }
.omega { margin-right: 0; }

.grid-12 .col-1  { width: 6.333%; }
.grid-12 .col-2  { width: 14.666%; }
.grid-12 .col-4  { width: 31.333%; }
.grid-12 .col-5  { width: 39.666%; }
.grid-12 .col-7  { width: 56.333%; }
.grid-12 .col-8  { width: 64.666%; }
.grid-12 .col-10 { width: 81.333%; }
.grid-12 .col-11 { width: 89.666%; }


.grid-12 .pfx-3 { padding-left: 25%; }
.grid-12 .pfx-6 { padding-left: 50%; }
.grid-12 .pfx-9 { padding-left: 75%; }

.grid-12 .pfx-1  { padding-left: 8.333%; }
.grid-12 .pfx-2  { padding-left: 16.666%; }
.grid-12 .pfx-4  { padding-left: 33.333%; }
.grid-12 .pfx-5  { padding-left: 41.666%; }
.grid-12 .pfx-7  { padding-left: 58.333%; }
.grid-12 .pfx-8  { padding-left: 66.666%; }
.grid-12 .pfx-10 { padding-left: 83.333%; }
.grid-12 .pfx-11 { padding-left: 91.666%; }


.grid-12 .sfx-3 { padding-right: 25%; }
.grid-12 .sfx-6 { padding-right: 50%; }
.grid-12 .sfx-9 { padding-right: 75%; }

.grid-12 .sfx-1 { padding-right: 8.333%; }
.grid-12 .sfx-2 { padding-right: 16.666%; }
.grid-12 .sfx-4 { padding-right: 33.333%; }
.grid-12 .sfx-5 { padding-right: 41.666%; }
.grid-12 .sfx-7 { padding-right: 58.333%; }
.grid-12 .sfx-8 { padding-right: 66.666%; }
.grid-12 .sfx-10 { padding-right: 83.333%; }
.grid-12 .sfx-11 { padding-right: 91.666%; }

.grid-12 .push-1  { left:8.333%;  }
.grid-12 .push-2  { left:16.667%; }
.grid-12 .push-3  { left:25.0%;   }
.grid-12 .push-4  { left:33.333%; }
.grid-12 .push-5  { left:41.667%; }
.grid-12 .push-6  { left:50.0%;   }
.grid-12 .push-7  { left:58.333%; }
.grid-12 .push-8  { left:66.667%; }
.grid-12 .push-9  { left:75.0%;   }
.grid-12 .push-10 { left:83.333%; }
.grid-12 .push-11 { left:91.667%; }

.grid-12 .pull-1  { left:-8.333%;  }
.grid-12 .pull-2  { left:-16.667%; }
.grid-12 .pull-3  { left:-25.0%;   }
.grid-12 .pull-4  { left:-33.333%; }
.grid-12 .pull-5  { left:-41.667%; }
.grid-12 .pull-6  { left:-50.0%;   }
.grid-12 .pull-7  { left:-58.333%; }
.grid-12 .pull-8  { left:-66.667%; }
.grid-12 .pull-9  { left:-75.0%;   }
.grid-12 .pull-10 { left:-83.333%; }
.grid-12 .pull-11 { left:-91.667%; }



/* The media object
   (OOCSS / stubbornella.com) */
.media {
  margin: 10px;
  overflow: hidden;
  zoom: 1;
}
.media .content {
  /* use overflow for clearing floats and
   creating new layout context */
  overflow: hidden;
  zoom: 1;
}
.media .image {
  /* you can float the image to either left or right */
  float: left;
  margin-right: 10px;
}
.media .image img {
  display: block;
}
.media .image.right {
  margin-right: 0;
  margin-left: 10px;
}

.avatar {
  position: relative;
  background-color: transparent;
  width: 40px;
  height: 40px;
}
.avatar.large {  /* Playlyfe's Large image size */
  width: 140px;
  height: 140px;
}
.avatar img {
  /* constrain the image dimensions to that of the parent block */
  max-width: 100%;
  max-height: 100%;
  /* vertically and horizontally center the content in the parent block */
  /* requires parent to have a non-static position and unfloated */
  position: absolute;
  top: 0; bottom: 0;
  left: 0; right: 0;
  margin: auto;
}


#closebutton {
  margin-top:4px;
  margin-right: 4px;
}

/* Profile Styles */
.pl-page {
  padding: 1rem;
  background-color: #ffffff; /* white */
  border: 1px solid #dddddd; /* gray-lightest */
}
.pl-page .page-title {
  font-size: 1.8rem;
  margin: 0.6rem 0;
  font-weight: normal;
  color: #666666; /* gray-dark */
}

.page-section {
  padding: 0.5rem 0 1rem;
  border-bottom: 1px solid #dddddd; /* gray-lightest */
}
.page-section:last-child, .page-section.no-separator {
  border-bottom-color: transparent;
}
.page-section .section-title {
  font-size: 1.4rem;
  margin: 0.35rem 0;
  font-weight: normal;
  color: #888888; /* gray */
}

#pl-profile .player-alias {
  font-size: 1.6rem;
  margin-top: 0;
}

#profile-progress .progress-meter {
  height: 30px;
}
.progress-bar .progress-label {
  display: block;
  position: absolute;
  z-index: 2;
  color: #ffffff;
  text-shadow:
    0px 0px 3px #ffffff,
    0px 0px 2px #000000,
    0px 0px 10px #ffffff;
  font-size: 0.9rem;
  line-height: 20px;
  top: 0; bottom: 0; left: 0;
  padding-left: 5px;
  height: 20px;
  margin: auto;
}
#profile-progress .progress-value {
  background-color: #8fc717; /* prime */
  background-image: linear-gradient(
    135deg, transparent 30%, #80b314 30%, #80b314 60%, transparent 60%
  );
  background-size: 60px 30px;
}
.score-widget {
  border: 1px solid #dddddd; /* gray-lightest */
  width: 400px;
  padding: 0 0.35rem 1rem;
}
.score-widget .hud-title {
  font-size: 1.5rem;
  margin: 0.35rem 0;
  font-weight: normal;
  color: #888888; /* gray */
}

.achievement-item {
  float: left;
  padding: 0.5rem 1rem;
  text-align: center;
  position: relative;
}
.achievement-icon {
  width: 72px;
  height: 72px;
  margin: 0 auto;
  background-color: #ffffff; /* white */
}
.achievement-name {
  font-size: 0.85rem;
}
.achievement-count {
  position: absolute;
  text-align: center;
  top: 0.5rem;
  right: 1rem;
  font-size: 0.85rem;
  color: #ffffff;
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 50%;
  background-color: #8fc717; /* prime */
  border: 2px solid #ffffff;
  box-shadow: 0 0 5px -2px #dddddd; /* gray-lightest */
}
.achievement-item.locked .achievement-count {
  color: #ffffff; /* gray-lighter */
  background-color: #dddddd; /* gray-lightest */
}
.placeholder-content {
  padding: 0.5rem;
  color: #bbbbbb; /* gray-lighter */
  border: 1px dashed #dddddd; /* gray-lightest */
}

.hud-section-item {
  padding-left: 1.6rem;
  padding-right: 1.6rem;
}


.log-item {
  position: relative;
  padding: 0.35rem 0.5rem;
  margin: 0.25rem 0;
  border-bottom: 1px solid #f8f8f8; /* gray-ultralight */
  background-color: #ffffff; /* white */
  color: #666666; /* gray-dark */
  transition: color 200ms ease-in, background-color 200ms ease-in;
}
.log-item .log-actor,
.log-item .log-target { font-weight: bold; }

.log-item .log-footer {
  position: absolute;
  top: 0; right: 0;
  padding: 0.2rem 0.5rem;
  font-size: 0.92rem;
  color: #bbbbbb; /* gray-lighter */
  background-color: #f8f8f8; /* gray-ultralight */
}
.log-item:hover {
  background-color: #f8f8f8; /* gray-ultralight */
  color: #444444; /* gray-darker */
}
.log-item:hover .log-footer {
  background-color: #dddddd; /* gray-lightest */
  color: #888888; /* gray */
}
#pl-notifications .log-item .avatar {
  width: 72px;
  height: 72px;
}

/* Progress Bar */
.progress-bar {
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 0.5em;
  border: 1px solid #dddddd; /* gray-lightest */
  padding: 2px;
}
.progress-bar .progress-meter {
  overflow: hidden;
  position: relative;
  height: 10px;
  background-color: #dddddd; /* gray-lightest */
}
.progress-bar .progress-value {
  display:block;
  position: absolute;
  z-index: 1;
  left:0;
  top:0;
  height: 100%;
  background-color: #80b314; /* prime-dark */
  background-image: linear-gradient(
    135deg, transparent 30%, white 30%, white 60%, transparent 60%
  );
  background-size: 20px 10px;
  transition:
    width 0.4s cubic-bezier(0.60, -0.28, 0.74, 0.05),
    background-color 0.2s ease 0.2s;
}
.progress-bar.animated .progress-value {
  -webkit-animation: movingBg 1500ms linear infinite;
  -moz-animation: movingBg 1500ms linear infinite;
  -ms-animation: movingBg 1500ms linear infinite;
  animation: movingBg 1500ms linear infinite;
}







.pl-leaderboard-checkbox {
  text-align: center;
}

.leaderboard-list {
  list-style: outside none none;
}

.leaderboard-player {
  font-size: 16px;
  border: 1px solid black;
  color: black;
}

.leaderboard-player-rank {
  float: left;
  margin: 10px 20px 10px 10px;
  font-size: 20px;
  font-weight: bold;
  color: #534DA1;
}

.leaderboard-player-alias {
  float: right;
  margin: 20px 40% 10px 10px;
  color: #555;
  font-size: 24px;
  font-weight: bold;
}

.leaderboard-player-score {
  float: right;
  margin: 20px 20px 10px 10px;
  font-weight: bold;
  font-size: 24px;
  color: #2060DF;
}

.leaderboard-player-alias.selected {
  color: #000;
}
.leaderboard-button {
  text-align: center;
  float: right;
  border: 1px solid rgb(221, 221, 221);
  padding: 10px;
  margin: 10px;
  background-image: url("/theme/image.php?theme=standard&component=theme&image=hgradient");
  background-repeat: repeat-x;
  background-color: #E1E1DF;
  width: 85px;
}



.notification {
  font-size: 14px;
  color: black;
}

.notification-index {
  float: left;
  margin: 20px 20px 10px 10px;
  font-size: 20px;
  font-weight: 100;
}

.notification-text {
  margin: 20px 20px 10px 10px;
  font-size: 20px;
}

.fb-leaderboard-player {
  font-size: 16px;
  border: 1px solid black;
  color: black;
}

.fb-leaderboard-player-rank {
  float: left;
  margin: 20px 10px 10px 10px;
  font-size: 20px;
  font-weight: 100;
}

.fb-leaderboard-player-alias {
  float: right;
  margin: 20px 20% 10px 10px;
}

.fb-leaderboard-player-score {
  float: right;
  margin: 20px 20px 10px 10px;
}

.fb-leaderboard-player-selected {
  color: red;
}



.profile-score-list {
  height: calc(100% - 70px);
  overflow: auto;
}

.score-header {
  font-size: 24px;
  color: #555;
}

.score-list-item {
  padding: 10px 10px 20px;
  position: relative;
  overflow: hidden;
  border-bottom: 1px solid #DDD;
  box-shadow: 0px -20px 20px -20px rgba(119, 119, 119, 0.3);
}

.score-list-item .score-name {
  color: #534DA1;
  font-size: 20px;
  font-weight: bold;
  margin: 0px;
  text-shadow: 1px 1px 0px rgba(238, 238, 238, 0.4);
}

.score-list-item .score-icon {
  width: 100px;
  height: 120px;
  position: absolute;
  right: 0px;
  bottom: -35px;
  opacity: 0.5;
}
.score-item-icon {
  width: 40px;
  height: 40px;
}

.score-point .score-value {
  font-weight: bold;
  font-size: 24px;
  color: #2060DF;
}

.score-point .score-value.small {
  font-weight: bold;
  font-size: 16px;
  color: #2060DF;
}

.score-item {
  margin: 0.25rem 0;
}
.score-item.locked {
  color: #bbbbbb; /* gray-lighter */
  background-color: #f8f8f8; /* gray-ultralight */
}
body {
  height:100%;
}

.leaderboard-header {
  font-size: 1rem;
}

.leaderboard .skew.reverse {
  transform: skewX(20deg);
}

.vertical-middle {
  vertical-align: middle;
}

.leadeboard-table td {
  border: 1px solid #DDD;
  vertical-align: middle;
}



/* Animation Keyframes */
@-webkit-keyframes movingBg {
  100% { background-position: -100px 0; }
}
@-moz-keyframes movingBg {
  100% { background-position: -100px 0; }
}
@-ms-keyframes movingBg {
  100% { background-position: -100px 0; }
}
@keyframes movingBg {
  100% { background-position: -100px 0; }
}
